<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="row mt-5 mb-5 show-card offset-2">
    <div class="col-10 show-card-body">
      <img
      src="<%= listing && listing.image ? listing.image : '/path/to/default/image.jpg' %>"
      class="show-img-detail "
      alt="<%= listing && listing.image ? listing.image : 'Default Alt Text' %>"/>
      <div class="card-body ">
        <p class="card-text">
          <b><%= listing.pname %></b><br />
          <b>Product ID</b><br><%= listing.SID %> <br />
          <b>Price </b><br> &#x20A8;<%= listing.Price%> <br>
          <b>Description</b> <br><%= listing.pd %> <br />
        </p>
        <div class="show-btns">
          <a href="/listings/<%=listing.id%>/edit" class="btn btns">Edit </a>
          <form action="/listings/<%=listing.id%>?_method=DELETE" method="post">
          <button class="btns btn">Delete</button>
        </div>
      </div>
    </div>

  </div >
</form>
</body>
